{% extends "index.html" %}
{% block content %}
<h1>File Tree</h1>
<div class="ui list">
    {% for key, item in file_list recursive %}
        {% if item.type == "blob" %}
            <div class="item" style="margin-left: {{loop.depth0 * 20}}px">
                <i class="file icon"></i>
                <div class="content"><a href="{{base_url}}/{{item.oid}}">{{key}} </a></div>
            </div>
        {% else %}
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">{{ key }}</div>
            </div>
            {{ loop(item.items()) }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}